.navbar-controller {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	z-index: 10;
	// padding: 10px 20px;
	// transition: top 0.3s ease;
}

.navlink-custom {
	// border: 1px solid black;
	width: 12vh;
	text-align: center;
}

.nav-link.active {
	font-weight: bold;
	// TODO: hover link style
}
