* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

// ------------------------------------------
// navbar
.navlink-custom {
	// border: 1px solid black;
	width: 12vh;
	text-align: center;
}

.nav-link.active {
	font-weight: bold;
}

// ------------------------------------------
// footer
.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 10;
}
